name: Continuous integration

on: [pull_request, push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Create npm configuration
        run: echo "//npm.pkg.github.com/:_authToken=${token}" >> ~/.npmrc
        env:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Linting
        run: npm run lint
      - name: Build
        run: |
          export NODE_OPTIONS=--openssl-legacy-provider
          npm run build
      - name: Tests
        run: npm run test

      - uses: actions/upload-artifact@v3
        with:
          name: distribution
          path: dist/index.js
